#root {
  width: clamp(320px, 100%, 1440px);
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

html {
  color: var(--txt-clr);
  background-color: var(--bg-clr);

  &[data-theme='light'] {
    color-scheme: light;
    --txt-clr: hsl(200, 15%, 8%);
    --inp-clr: hsl(0, 0%, 52%);
    --bg-clr: hsl(0, 0%, 98%);
    --el-clr: hsl(0, 0%, 100%);
    --chk-clr: rgb(66, 111, 196);
    --contrast: hsl(0, 0%, 100%);
  }

  &[data-theme='dark'] {
    color-scheme: dark;
    --el-clr: hsl(209, 23%, 22%);
    --bg-clr: hsl(207, 26%, 17%);
    --txt-clr: hsl(0, 0%, 100%);
    --chk-clr: rgb(130, 194, 231);
    --contrast: hsl(200, 15%, 8%);
  }
}
